<div class="center">
    <strong>Character Name</strong>
    <p>{{character_name}}</p>
    <strong>Health</strong>
    <p>{{character_health}}</p>
    <strong>Attack Damage</strong>
    <p>{{character_dps}}</p>
    <strong>Class</strong>
    <p>{{character_class}}</p>
    <strong>Item</strong>
    <p>{{character_item}}</p>
</div>

